group-requests-automation-graph/sourcecode/Workflows/Grouprequestapproval-1397874A-F74E-EE11-BE6E-000D3ADCB8D1.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ggk_MicrosoftForms"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ggk_Office365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ggk_Approvals"
        },
        "api": {
          "name": "shared_approvals"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "52f4b8fb-4b18-4d7a-b5e6-1309a99f8e80"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "9S37Zz2wJEWzTmWVSpsfPakCeXD4Hk9DhAKKfc1MyJZUQThOUVNKSlJaWkcxUjBKTE9VSk5USFZMVi4u"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Map_data": {
              "actions": {
                "Get_response_details": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e8beac48-a7a9-49b4-86c5-5d84e9bc1e7a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_microsoftforms",
                      "operationId": "GetFormResponseById",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
                    },
                    "parameters": {
                      "form_id": "9S37Zz2wJEWzTmWVSpsfPakCeXD4Hk9DhAKKfc1MyJZUQThOUVNKSlJaWkcxUjBKTE9VSk5USFZMVi4u",
                      "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "HTTP_-_Get_additional_information_about_requestor": {
                  "runAfter": {
                    "Get_response_details": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "25739e2c-c6a0-4fa3-b6fb-862fdfd2bb2e"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/users?$filter=mail eq '@{outputs('Get_response_details')?['body/responder']}'&$select=displayName,mail,id",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "@body('Parse_JSON_-_Authentication')?['tenantID']",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "@body('Parse_JSON_-_Authentication')?['clientID']",
                      "secret": "@body('Parse_JSON_-_Authentication')?['clientSecret']"
                    }
                  }
                },
                "Parse_JSON_-_Response_details": {
                  "runAfter": {
                    "HTTP_-_Get_additional_information_about_requestor": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "846fa3fd-6b62-45fa-be0f-d38b4b9fee9f"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": {
                      "RequestorName": "@first(body('HTTP_-_Get_additional_information_about_requestor')?['value'])?['displayName']",
                      "RequestorEmail": "@first(body('HTTP_-_Get_additional_information_about_requestor')?['value'])?['mail']",
                      "RequestorId": "@first(body('HTTP_-_Get_additional_information_about_requestor')?['value'])?['id']",
                      "OnBehalfName": "@outputs('Get_response_details')?['body/r7fb54eb835784aba83a9f1929d50c3e0']",
                      "OnBehalfEmail": "@outputs('Get_response_details')?['body/r319ad24d7f4b453f9d6ef8e917764d40']",
                      "GroupName": "@outputs('Get_response_details')?['body/r3180a6ac40464a0da59585a7c6ce046f']",
                      "GroupPurpose": "@outputs('Get_response_details')?['body/r6b0f09aeae864fc3bf129731d826db78']",
                      "GroupDescription": "@outputs('Get_response_details')?['body/r17ddac57c79b44c8b2a3f2cdf616898e']",
                      "GroupType": "@outputs('Get_response_details')?['body/rad84032670104373a7606983660362e6']"
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "RequestorName": {},
                        "GroupDescription": {},
                        "RequestorEmail": {},
                        "OnBehalfName": {},
                        "GroupPurpose": {},
                        "OnBehalfEmail": {},
                        "GroupName": {},
                        "GroupType": {}
                      }
                    }
                  },
                  "description": "Adjust all the dynamic properties according to the Get response details."
                },
                "Compose_-_Admin_email": {
                  "runAfter": {
                    "Parse_JSON_-_Response_details": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1fab2012-9d3b-4d2d-b054-b47df2956758"
                  },
                  "type": "Compose",
                  "inputs": "admin@shoco-it-solutions.io"
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "af35cafa-d57c-46bd-8d05-efeb84097976"
              },
              "type": "Scope"
            },
            "Preconditions": {
              "actions": {
                "Condition_-_Request_is_on_behalf": {
                  "actions": {
                    "HTTP_-_Check_if_no_Guest_Users_are_involved_in_this_request_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "25739e2c-c6a0-4fa3-b6fb-862fdfd2bb2e"
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://graph.microsoft.com/v1.0/users?$filter=userType eq 'Member' and mail eq '@{body('Parse_JSON_-_Response_details')?['RequestorEmail']}'&$select=displayName,mail,id",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "authentication": {
                          "type": "ActiveDirectoryOAuth",
                          "tenant": "@body('Parse_JSON_-_Authentication')?['tenantID']",
                          "audience": "https://graph.microsoft.com",
                          "clientId": "@body('Parse_JSON_-_Authentication')?['clientID']",
                          "secret": "@body('Parse_JSON_-_Authentication')?['clientSecret']"
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "HTTP_-_Check_if_no_Guest_Users_are_involved_in_this_request": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "25739e2c-c6a0-4fa3-b6fb-862fdfd2bb2e"
                        },
                        "type": "Http",
                        "inputs": {
                          "method": "GET",
                          "uri": "https://graph.microsoft.com/v1.0/users?$filter=userType eq 'Member' and mail eq '@{body('Parse_JSON_-_Response_details')?['OnBehalfEmail']}'&$select=displayName,mail,id",
                          "headers": {
                            "Content-Type": "application/json"
                          },
                          "authentication": {
                            "type": "ActiveDirectoryOAuth",
                            "tenant": "@body('Parse_JSON_-_Authentication')?['tenantID']",
                            "audience": "https://graph.microsoft.com",
                            "clientId": "@body('Parse_JSON_-_Authentication')?['clientID']",
                            "secret": "@body('Parse_JSON_-_Authentication')?['clientSecret']"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@empty(body('Parse_JSON_-_Response_details')?['OnBehalfName'])",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "001e9f92-17a5-4b1c-a1aa-af514702c4a2"
                  },
                  "type": "If"
                },
                "HTTP_-_Check_for_duplications_of_group's_display_name": {
                  "runAfter": {
                    "Condition_-_Request_is_on_behalf": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "25739e2c-c6a0-4fa3-b6fb-862fdfd2bb2e"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/groups?$filter=displayName eq '@{body('Parse_JSON_-_Response_details')?['GroupName']}' &$select=displayName",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "@body('Parse_JSON_-_Authentication')?['tenantID']",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "@body('Parse_JSON_-_Authentication')?['clientID']",
                      "secret": "@body('Parse_JSON_-_Authentication')?['clientSecret']"
                    }
                  }
                },
                "Condition_-_Preconditions": {
                  "actions": {
                    "Notify_requestor_-_Outcome_rejected_1": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "8308c3e3-0c40-43b8-b8b8-50022ce11428"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@body('Parse_JSON_-_Response_details')?['RequestorEmail']",
                          "emailMessage/Subject": "Your @{body('Parse_JSON_-_Response_details')?['GroupType']} request has been rejected",
                          "emailMessage/Body": "<p>Dear @{body('Parse_JSON_-_Response_details')?['RequestorName']},<br>\n<br>\nThis group name already exist: @{body('Parse_JSON_-_Response_details')?['GroupName']}<br>\n<br>\nPlease submit a new request using a different group name or you added a guest user.<br>\n<br>\nKind regards,<br>\nAdmin</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "End_workflow": {
                      "runAfter": {
                        "Notify_requestor_-_Outcome_rejected_1": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c86eec38-cef3-4d66-a2fb-8133cf644ba8"
                      },
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Cancelled"
                      }
                    }
                  },
                  "runAfter": {
                    "HTTP_-_Check_for_duplications_of_group's_display_name": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "or": [
                      {
                        "and": [
                          {
                            "equals": [
                              "@empty(body('HTTP_-_Check_if_no_Guest_Users_are_involved_in_this_request')?['value'])",
                              "@false"
                            ]
                          },
                          {
                            "equals": [
                              "@empty(body('HTTP_-_Check_for_duplications_of_group''s_display_name')?['value'])",
                              "@false"
                            ]
                          }
                        ]
                      },
                      {
                        "and": [
                          {
                            "equals": [
                              "@empty(body('HTTP_-_Check_if_no_Guest_Users_are_involved_in_this_request_2')?['value'])",
                              "@false"
                            ]
                          },
                          {
                            "equals": [
                              "@empty(body('HTTP_-_Check_for_duplications_of_group''s_display_name')?['value'])",
                              "@false"
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ba88feab-e786-44ca-9936-0adc7a8f3237"
                  },
                  "type": "If"
                },
                "Condition_-_Group_request_on_behalf_of_someone_else": {
                  "actions": {
                    "Own_request": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "b4b27484-62c6-4bda-91a7-dfe45e9117f4"
                      },
                      "type": "OpenApiConnectionWebhook",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_approvals",
                          "operationId": "StartAndWaitForAnApproval",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                        },
                        "parameters": {
                          "approvalType": "Basic",
                          "WebhookApprovalCreationInput/title": "A @{body('Parse_JSON_-_Response_details')?['GroupType']} request is waiting for approval",
                          "WebhookApprovalCreationInput/assignedTo": "@{outputs('Compose_-_Admin_email')};",
                          "WebhookApprovalCreationInput/details": "|                 |                                                    |\n|----------------------|------------------------------------------------------------|\n| **Requestor**        |@{body('Parse_JSON_-_Response_details')?['RequestorName']}|\n\n| **Requestor email**     |@{body('Parse_JSON_-_Response_details')?['RequestorEmail']}|\n\n| **Group purpose**    |@{body('Parse_JSON_-_Response_details')?['GroupPurpose']}|\n\n| **Group name**       |@{body('Parse_JSON_-_Response_details')?['GroupName']}|\n\n| **Group description**|@{body('Parse_JSON_-_Response_details')?['GroupDescription']}|\n\n| **Group type**       |@{body('Parse_JSON_-_Response_details')?['GroupType']}|\n\nPlease review the details above and provide your approval or rejection",
                          "WebhookApprovalCreationInput/requestor": "@{outputs('Get_response_details')?['body/responder']};",
                          "WebhookApprovalCreationInput/enableNotifications": true,
                          "WebhookApprovalCreationInput/enableReassignment": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Preconditions": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Get_approval_from_on_behalf_user_to_request_the_group": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "e788c76b-cf24-4dc5-ad21-f2af5e351185"
                        },
                        "type": "OpenApiConnectionWebhook",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_approvals",
                            "operationId": "StartAndWaitForAnApproval",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                          },
                          "parameters": {
                            "approvalType": "Basic",
                            "WebhookApprovalCreationInput/title": "Please review this @{body('Parse_JSON_-_Response_details')?['GroupType']} request on your behalf",
                            "WebhookApprovalCreationInput/assignedTo": "@{body('Parse_JSON_-_Response_details')?['OnBehalfEmail']};",
                            "WebhookApprovalCreationInput/details": "|                 |                                                     |\n|----------------------|------------------------------------------------------------|\n| **Requestor**        | @{body('Parse_JSON_-_Response_details')?['RequestorName']}  |\n\n| **On behalf of**     | @{body('Parse_JSON_-_Response_details')?['OnBehalfName']}   |\n\n| **On behalf of email**| @{body('Parse_JSON_-_Response_details')?['OnBehalfEmail']}  |\n\n| **Group purpose**    | @{body('Parse_JSON_-_Response_details')?['GroupPurpose']}   |\n\n| **Group name**       | @{body('Parse_JSON_-_Response_details')?['GroupName']}      |\n\n| **Group description**| @{body('Parse_JSON_-_Response_details')?['GroupDescription']}|\n\n| **Group type**       | @{body('Parse_JSON_-_Response_details')?['GroupType']}      |\n\nPlease review the details above and provide your approval or rejection. By rejecting this adaptive card the request will be rejected.",
                            "WebhookApprovalCreationInput/enableNotifications": true,
                            "WebhookApprovalCreationInput/enableReassignment": true
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Condition_-_Check_if_on_behalf_approved_the_group_request": {
                        "actions": {},
                        "runAfter": {
                          "Get_approval_from_on_behalf_user_to_request_the_group": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {
                            "Notify_requestor_-_Outcome_Rejected_3": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "8308c3e3-0c40-43b8-b8b8-50022ce11428"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_office365",
                                  "operationId": "SendEmailV2",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                },
                                "parameters": {
                                  "emailMessage/To": "@body('Parse_JSON_-_Response_details')?['RequestorEmail']",
                                  "emailMessage/Subject": "Your @{body('Parse_JSON_-_Response_details')?['GroupType']} request has been rejected by on behalf user",
                                  "emailMessage/Body": "<p>Dear @{body('Parse_JSON_-_Response_details')?['RequestorName']},<br>\n<br>\nYour pending @{body('Parse_JSON_-_Response_details')?['GroupType']} (@{body('Parse_JSON_-_Response_details')?['GroupName']}) request been rejected by @{body('Parse_JSON_-_Response_details')?['OnBehalfName']}.<br>\n<br>\nKind regards,<br>\nAdmin</p>",
                                  "emailMessage/Importance": "Normal"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "End_workflow_1": {
                              "runAfter": {
                                "Notify_requestor_-_Outcome_Rejected_3": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "d9ab375e-3669-41fe-b2c4-0d58e8cc7d8d"
                              },
                              "type": "Terminate",
                              "inputs": {
                                "runStatus": "Cancelled"
                              }
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                            "@outputs('Get_approval_from_on_behalf_user_to_request_the_group')?['body/outcome']",
                            "@string('Approve')"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "814da56d-9989-41a6-bf05-e9d59a8b59b8"
                        },
                        "type": "If"
                      },
                      "On_behalf_of_someone_else": {
                        "runAfter": {
                          "Condition_-_Check_if_on_behalf_approved_the_group_request": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "b4b27484-62c6-4bda-91a7-dfe45e9117f4"
                        },
                        "type": "OpenApiConnectionWebhook",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_approvals",
                            "operationId": "StartAndWaitForAnApproval",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                          },
                          "parameters": {
                            "approvalType": "Basic",
                            "WebhookApprovalCreationInput/title": "A @{body('Parse_JSON_-_Response_details')?['GroupType']} request is waiting for approval",
                            "WebhookApprovalCreationInput/assignedTo": "@{outputs('Compose_-_Admin_email')};",
                            "WebhookApprovalCreationInput/details": "|                 |                                                    |\n|----------------------|------------------------------------------------------------|\n| **Requestor**        | @{body('Parse_JSON_-_Response_details')?['RequestorName']}  |\n\n| **On behalf of**     | @{body('Parse_JSON_-_Response_details')?['OnBehalfName']}   |\n\n| **On behalf of email**| @{body('Parse_JSON_-_Response_details')?['OnBehalfEmail']}  |\n\n| **Group purpose**    | @{body('Parse_JSON_-_Response_details')?['GroupPurpose']}   |\n\n| **Group name**       | @{body('Parse_JSON_-_Response_details')?['GroupName']}      |\n\n| **Group description**| @{body('Parse_JSON_-_Response_details')?['GroupDescription']}|\n\n| **Group type**       | @{body('Parse_JSON_-_Response_details')?['GroupType']}      |\n\nPlease review the details above and provide your approval or rejection",
                            "WebhookApprovalCreationInput/requestor": "@{outputs('Get_response_details')?['body/responder']};",
                            "WebhookApprovalCreationInput/enableNotifications": true,
                            "WebhookApprovalCreationInput/enableReassignment": true
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@empty(body('Parse_JSON_-_Response_details')?['OnBehalfName'])",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1f288f61-abe1-400c-b6f5-4f492f02c18c"
                  },
                  "type": "If"
                },
                "Condition_-_Check_approval_outcome": {
                  "actions": {},
                  "runAfter": {
                    "Condition_-_Group_request_on_behalf_of_someone_else": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Notify_Requestor_-_Outcome_rejected_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "0f50df4b-0f3e-4f3a-85a7-b03b1bb536cc"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@body('Parse_JSON_-_Response_details')?['RequestorEmail']",
                            "emailMessage/Subject": "Your @{body('Parse_JSON_-_Response_details')?['GroupType']} request has been rejected",
                            "emailMessage/Body": "<p>Dear @{body('Parse_JSON_-_Response_details')?['RequestorName']},<br>\n<br>\nYour @{body('Parse_JSON_-_Response_details')?['GroupType']} (@{body('Parse_JSON_-_Response_details')?['GroupName']}) request has been rejected.<br>\n<br>\nPlease contact us for more information.<br>\n<br>\nKind regards,<br>\nAdmin</p>",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@outputs('Own_request')?['body/outcome']",
                          "@string('Approve')"
                        ]
                      },
                      {
                        "equals": [
                          "@outputs('On_behalf_of_someone_else')?['body/outcome']",
                          "@string('Approve')"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "60fa7704-d239-4dc5-88c1-21ccf58b6766"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Map_data": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dcf8f44a-f273-4796-aed0-de24334c2282"
              },
              "type": "Scope"
            },
            "Create_group_and_add_owner": {
              "actions": {
                "Condition_-_Check_group_type": {
                  "actions": {
                    "HTTP_-_Create_Security_Group": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "25739e2c-c6a0-4fa3-b6fb-862fdfd2bb2e"
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://graph.microsoft.com/v1.0/groups",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "displayName": "@{body('Parse_JSON_-_Response_details')?['GroupName']}",
                          "description": "@{body('Parse_JSON_-_Response_details')?['GroupDescription']}",
                          "mailEnabled": false,
                          "mailNickname": "@{replace(toLower(body('Parse_JSON_-_Response_details')?['GroupName']), ' ', '')}",
                          "securityEnabled": true,
                          "visibility": "Private",
                          "groupTypes": []
                        },
                        "authentication": {
                          "type": "ActiveDirectoryOAuth",
                          "tenant": "@body('Parse_JSON_-_Authentication')?['tenantID']",
                          "audience": "https://graph.microsoft.com",
                          "clientId": "@body('Parse_JSON_-_Authentication')?['clientID']",
                          "secret": "@body('Parse_JSON_-_Authentication')?['clientSecret']"
                        },
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 10,
                          "interval": "PT10S"
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "HTTP_-_Create_Microsoft_365_Group": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "25739e2c-c6a0-4fa3-b6fb-862fdfd2bb2e"
                        },
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "https://graph.microsoft.com/v1.0/groups",
                          "headers": {
                            "Content-Type": "application/json"
                          },
                          "body": {
                            "displayName": "@{body('Parse_JSON_-_Response_details')?['GroupName']}",
                            "description": "@{body('Parse_JSON_-_Response_details')?['GroupDescription']}",
                            "mailEnabled": true,
                            "mailNickname": "@{replace(toLower(body('Parse_JSON_-_Response_details')?['GroupName']), ' ', '')}",
                            "securityEnabled": false,
                            "visibility": "Private",
                            "groupTypes": [
                              "Unified"
                            ]
                          },
                          "authentication": {
                            "type": "ActiveDirectoryOAuth",
                            "tenant": "@body('Parse_JSON_-_Authentication')?['tenantID']",
                            "audience": "https://graph.microsoft.com",
                            "clientId": "@body('Parse_JSON_-_Authentication')?['clientID']",
                            "secret": "@body('Parse_JSON_-_Authentication')?['clientSecret']"
                          },
                          "retryPolicy": {
                            "type": "exponential",
                            "count": 10,
                            "interval": "PT10S"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@body('Parse_JSON_-_Response_details')?['GroupType']",
                      "@string('Security group')"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b7901739-ae41-478b-994e-29125fcbd57c"
                  },
                  "type": "If"
                },
                "Compose_-_Group_id": {
                  "runAfter": {
                    "Condition_-_Check_group_type": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "807f9c2a-fba3-469f-920d-0a327dad01a7"
                  },
                  "type": "Compose",
                  "inputs": "@if(equals(body('Parse_JSON_-_Response_details')?['GroupType'], 'Security group'), body('HTTP_-_Create_Security_Group')?['id'], body('HTTP_-_Create_Microsoft_365_Group')?['id'])"
                },
                "Compose_-_Group_owner_id": {
                  "runAfter": {
                    "Compose_-_Group_id": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b042c846-26c0-4366-a527-9ec89413cfa2"
                  },
                  "type": "Compose",
                  "inputs": "@if(empty(body('Parse_JSON_-_Response_details')?['OnBehalfName']), first(body('HTTP_-_Get_additional_information_about_requestor')?['value'])?['id'], first(body('HTTP_-_Check_if_no_Guest_Users_are_involved_in_this_request')?['value'])?['id'])"
                },
                "Compose_-_Group_owner_email": {
                  "runAfter": {
                    "Compose_-_Group_owner_id": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c8090dd1-9954-4bd5-8935-4a5d32040cd1"
                  },
                  "type": "Compose",
                  "inputs": "@if(empty(body('Parse_JSON_-_Response_details')?['OnBehalfName']), first(body('HTTP_-_Get_additional_information_about_requestor')?['value'])?['mail'], first(body('HTTP_-_Check_if_no_Guest_Users_are_involved_in_this_request')?['value'])?['mail'])"
                },
                "Notify_group_owner_-_Outcome_approved": {
                  "runAfter": {
                    "HTTP_-_Add_user_as_owner": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0f50df4b-0f3e-4f3a-85a7-b03b1bb536cc"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@{outputs('Compose_-_Group_owner_email')};",
                      "emailMessage/Subject": "Your @{body('Parse_JSON_-_Response_details')?['GroupType']} request has been approved",
                      "emailMessage/Body": "<html>\n<head>\n<style>\nbody {font-family: Arial, sans-serif; font-size: 14px;}\na {color: #1155CC;}\n</style>\n</head>\n<body>\n<p>Dear @{if(empty(body('Parse_JSON_-_Response_details')?['OnBehalfName']), first(body('HTTP_-_Get_additional_information_about_requestor')?['value'])?['displayName'], first(body('HTTP_-_Check_if_no_Guest_Users_are_involved_in_this_request')?['value'])?['displayName'])},<br><br>Your <strong>@{body('Parse_JSON_-_Response_details')?['GroupType']}</strong> (<strong>@{body('Parse_JSON_-_Response_details')?['GroupName']}</strong>) request has been approved.<br><br>You can view the group <a href=\"https://myaccount.microsoft.com/groups/@{outputs('Compose_-_Group_id')}\">here</a>.<br><br>Please do not hesitate to contact us if you have any questions.<br><br>Kind regards,<br>Admin</p>\n</body>\n</html>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                },
                "HTTP_-_Add_user_as_member": {
                  "runAfter": {
                    "Compose_-_Group_owner_email": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "25739e2c-c6a0-4fa3-b6fb-862fdfd2bb2e"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://graph.microsoft.com/v1.0/groups/@{outputs('Compose_-_Group_id')}/members/$ref",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "@{string('@odata.id')}": "@{concat('https://graph.microsoft.com/v1.0/users/', outputs('Compose_-_Group_owner_id'))}"
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "@body('Parse_JSON_-_Authentication')?['tenantID']",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "@body('Parse_JSON_-_Authentication')?['clientID']",
                      "secret": "@body('Parse_JSON_-_Authentication')?['clientSecret']"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                },
                "HTTP_-_Add_user_as_owner": {
                  "runAfter": {
                    "HTTP_-_Add_user_as_member": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "25739e2c-c6a0-4fa3-b6fb-862fdfd2bb2e"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://graph.microsoft.com/v1.0/groups/@{outputs('Compose_-_Group_id')}/owners/$ref",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "@{string('@odata.id')}": "@{concat('https://graph.microsoft.com/v1.0/users/', outputs('Compose_-_Group_owner_id'))}"
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "@body('Parse_JSON_-_Authentication')?['tenantID']",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "@body('Parse_JSON_-_Authentication')?['clientID']",
                      "secret": "@body('Parse_JSON_-_Authentication')?['clientSecret']"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                }
              },
              "runAfter": {
                "Preconditions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3077bb5d-fe20-4e32-8319-72bb2137e98d"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Parse_JSON_-_Authentication": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9f359aca-dc10-494d-a162-cf0478c0093e"
          },
          "type": "Scope"
        },
        "Parse_JSON_-_Authentication": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2fa225b6-b767-4317-9fbf-95bce10ba3cb"
          },
          "type": "ParseJson",
          "inputs": {
            "content": {
              "clientID": "CLIENTID",
              "tenantID": "TENANTID",
              "clientSecret": "CLIENTSECRET"
            },
            "schema": {
              "type": "object",
              "properties": {
                "clientID": {
                  "type": "string"
                },
                "tenantID": {
                  "type": "string"
                },
                "clientSecret": {
                  "type": "string"
                }
              }
            }
          }
        },
        "Catch": {
          "actions": {
            "Notify_requestor_-_Something_went_wrong": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8308c3e3-0c40-43b8-b8b8-50022ce11428"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@body('Parse_JSON_-_Response_details')?['RequestorEmail']",
                  "emailMessage/Subject": "Your @{body('Parse_JSON_-_Response_details')?['GroupType']} request has failed",
                  "emailMessage/Body": "<p>Dear @{body('Parse_JSON_-_Response_details')?['RequestorName']},<br>\n<br>\nYour @{body('Parse_JSON_-_Response_details')?['GroupType']} (@{body('Parse_JSON_-_Response_details')?['GroupName']}) couldn't be created.<br>\n<br>\nPlease contact the site admin to find out why.<br>\n<br>\nKind regards,<br>\nAdmin</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Cancel_workflow": {
              "runAfter": {
                "Notify_requestor_-_Something_went_wrong": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0539a7a7-4113-4d75-a89a-ed57d7bf0e1f"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "719c283c-edaa-423b-afd4-fad8dfa51d12"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}